$color1: #213d8f;
$color2: #4a4a4a;
$color3: #f6f7fb;
$color4: #e8ebf3;
$color5: #8ec03f;
$color6: #909ec7;
$color7: #1db9de;
$color8: #ffffff;
$color9: #ff594e;

$font: Source Sans Pro, sans-serif;

$border-radius: 2px;

