/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import 'variables';
@import 'mixins';

body {
    background: $color4;
    margin: 12px 42px;
}

.hidden {
    display: none;
}
