<div *ngIf="transactions | async; let data">
    <table mat-table [dataSource]="data" multiTemplateDataRows>

        <ng-container matColumnDef="cardHolderName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.card.holderName}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>Brand</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.brandId}} </td>
        </ng-container>

        <ng-container matColumnDef="cardLast4Digits">
            <th mat-header-cell *matHeaderCellDef>Last 4 digits</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.card.lastFourDigits}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Transaction type</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.action}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef>Currency</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.currencyCode}} </td>
        </ng-container>

        <ng-container matColumnDef="transactionDetail">
            <td mat-cell *matCellDef="let transaction" [attr.colspan]="displayedColumns.length">
                <div class="transaction-detail"
                     [@detailToggle]="transaction === transactionExpanded ? 'expanded' : 'collapsed'"
                     [class.hidden]="transactionExpanded !== transaction">
                    <ul>
                        <li class="detail-header">ID:</li>
                        <li class="detail-content">{{transaction.id}}</li>
                        <li class="detail-header">First 6 digits:</li>
                        <li class="detail-content">{{transaction.card.firstSixDigits}}</li>
                        <li class="detail-header">Tracking code:</li>
                        <li class="detail-content">{{transaction.trackingCode}}</li>
                        <li class="detail-header">Expiry month:</li>
                        <li class="detail-content">{{transaction.card.expiryMonth}}</li>
                        <li class="detail-header">Brand ID:</li>
                        <li class="detail-content">{{transaction.brandId}}</li>
                        <li class="detail-header">Expiry year:</li>
                        <li class="detail-content">{{transaction.card.expiryYear}}</li>
                    </ul>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let transaction; columns: displayedColumns;"
            class="transaction-row"
            [class.transaction-expanded-row]="transactionExpanded === transaction"
            (click)="toggleDetails(transaction)">
        </tr>

        <tr mat-row *matRowDef="let transaction; columns: ['transactionDetail']" class="transaction-detail-row"></tr>
    </table>
</div>
