@import '~src/variables';
@import '~src/mixins';

.notification-error {
    @include standard;
    z-index: 9999;
    width: 100%;
    padding: 22px 2px 12px 22px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: $color9;
    color: $color8;
}

.notification-message {
    float: left;
}

.notification-link {
    cursor: pointer;
    float: right;
    padding-right: 42px
}
