<div class="search-container">
    <form [formGroup]="form" (ngSubmit)="search()">
        <mat-form-field class="search-field" appearance="outline">
            <span class="placeholder-icon"><mat-icon matSuffix>expand_more</mat-icon></span>
            <mat-select placeholder="Transaction type" formControlName="type" panelClass="select"
                        disableOptionCentering>
                <mat-option class="option-header">
                    <span>Transaction type</span>
                    <span class="option-icon"><mat-icon>expand_less</mat-icon></span>
                </mat-option>
                <mat-option class="option" *ngFor="let type of types" [value]="type">
                    {{ type.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search-field" appearance="outline">
            <span class="placeholder-icon"><mat-icon matSuffix>expand_more</mat-icon></span>
            <mat-select placeholder="Currency" formControlName="currency" panelClass="select" disableOptionCentering>
                <mat-option class="option-header">
                    <span>Currency</span>
                    <span class="option-icon"><mat-icon>expand_less</mat-icon></span>
                </mat-option>
                <mat-option class="option" *ngFor="let currency of currencies" [value]="currency">
                    {{ currency.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="button-field">
            <button mat-button type="submit">Search</button>
        </span>
    </form>
</div>
