<div *ngIf="transactions | async; let data">
    <table mat-table [dataSource]="data" multiTemplateDataRows>

        <ng-container matColumnDef="cardHolderName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.card.holderName}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>Brand</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.brandId}} </td>
        </ng-container>

        <ng-container matColumnDef="cardLast4Digits">
            <th mat-header-cell *matHeaderCellDef>Last 4 digits</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.card.lastFourDigits}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Transaction type</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.action}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef>Currency</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.currencyCode}} </td>
        </ng-container>

        <ng-container matColumnDef="transactionDetail">
            <td mat-cell *matCellDef="let transaction" [attr.colspan]="displayedColumns.length">
                <div class="transaction-detail"
                     [@detailToggle]="transaction === transactionExpanded ? 'expanded' : 'collapsed'">
                    <div style="float: left; width: 100%;">
                        <div>ID: {{transaction.id}}</div>
                        <div>Tracking code: {{transaction.trackingCode}}</div>
                        <div>Brand ID: {{transaction.brandId}}</div>
                    </div>
                    <div style="float: right; width: 100%;">
                        <div>First 6 digits: {{transaction.card.firstSixDigits}}</div>
                        <div>Expiry month: {{transaction.card.expiryMonth}}</div>
                        <div>Expiry year: {{transaction.card.expiryYear}}</div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let transaction; columns: displayedColumns;"
            class="transaction-row"
            [class.transaction-expanded-row]="transactionExpanded === transaction"
            (click)="toggleDetails(transaction)">
        </tr>

        <tr mat-row *matRowDef="let transaction; columns: ['transactionDetail']" class="transaction-detail-row"></tr>
    </table>
</div>
