<form [formGroup]="form" (ngSubmit)="search()">
    <mat-form-field class="search-field" appearance="outline">
        <mat-select placeholder="Transaction type" formControlName="type" panelClass="select">
            <mat-option class="option">
                <span>Transaction type</span>
                <span><mat-icon>home</mat-icon></span>
            </mat-option>
            <mat-option class="option" *ngFor="let type of types" [value]="type">
                {{ type.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="search-field" appearance="outline">
        <mat-select placeholder="Currency" formControlName="currency">
            <mat-option>Currency</mat-option>
            <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span>
        <button mat-button type="submit">Search</button>
    </span>
</form>
