@import '~src/variables';
@import '~src/mixins';

table {
    width: 100%;
}

th {
    @include standard;
    font-weight: 600;
    color: $color1;
}

tr.transaction-detail-row {
    height: 0;
    width: 100%;
}

tr.transaction-row:not(.transaction-expanded-row):hover {
    background: $color3;
}

tr.transaction-row:not(.transaction-expanded-row):active {
    background: $color4;
}

tr.transaction-expanded-row td {
    background: $color3;
    font-weight: 600;
}

tr.transaction-row td {
    @include standard;
    border-bottom-width: 0;
    cursor: pointer;
}

td.mat-cell:last-of-type {
    padding: 0;
}

.transaction-detail {
    border-top: 1px solid $color4;
    overflow: hidden;
    width: 100%;
    background: $color3;
    display: flex;
}

.transaction-detail ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 2% 2% 4%;
}

.transaction-detail li {
    flex-grow: 1;
    list-style: none;
    padding: 2px;
}

.detail-header {
    @include detail;
    width: 20%;
    color: $color1;
}

.detail-content {
    @include detail;
    width: 20%;
    color: $color2;
}
